{% extends "base.html" %}

{% block title %}
Posts by user {{ user.username }}
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Reviews by {{ user.username }}</h1>

            {% if user.postedEntries.count() > 0 %}
                {% with reviews=user.postedEntries %}
                    {% include "ReviewList.html" %}
                {% endwith %}
            {% else %}
                This user has not added any reviews yet.
            {% endif %}

            <ul>
                {% for entry in user.postedEntries %}
                    <li>

                    </li>
                {% else %}
                    <li> This user has not posted anything.</li>
                {% endfor %}
            </ul>

        </header>
    </article>
{% endblock %}