{% extends "base.html" %}

{% block title %}
Posts by user {{ user.username }}
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Articles by {{ user.username }}</h1>

            <ul>
                {% for entry in user.postedEntries %}
                    <li>
                        <a href="{{ entry.title }}"></a>
                        <h3>( {{entry.rating}}/5 ) {{ entry.artist }} - "{{ entry.title }}", posted on: {{ entry.date.year }}.{{ entry.date.month }}.{{ entry.date.day }} by {{ entry.user.username }}</h2>
                        <p> {{entry.entry}} </p>
                        <button>Edit Entry</button>
                    </li>
                {% else %}
                    <li> This user has not posted anything.</li>
                {% endfor %}
            </ul>
        </header>
    </article>
{% endblock %}